* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    font-family: 'open sans'
}
body {
    background: #e6e6e9;
    color: #003082;
}

/*****************    Header         */

header {
    width: 100%;
    position: fixed;
    height: 3em;
    background: white;
    top: 0;
    padding-top: 0.5em;
    box-shadow: rgba(7, 7, 33, 0.14902) 0px 2px 0px 0px;
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/****************** DROPDOWN *********** ****                        *************/


/* ****************************************
   CONTAINERS en HEADING
   **************************************** */

.cmda-dropdown-menu {
    width: 95%;
    min-height: 1.75em;
    margin: 1em auto;
}
.cmda-dropdown-menu h1 {
    margin: 0;
    line-height: 2.75rem;
    padding: 0 2.75rem 0 1rem;
    background: white;
    color: grey;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}

/* ****************************************
    PANCAKE & CLOSE ICON
   **************************************** */

.cmda-dropdown-menu #cmda-dropdown-icon {
    font-size: 1.75rem;
    height: 1.75rem;
    line-height: 1.5rem;
    width: 1.75rem;
    text-align: center;
    border: solid 1px black;
    border-radius: .25rem;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: -1.3em;
    margin-left: 135%;
}
.cmda-dropdown-menu #cmda-dropdown-icon::after {
    color: black;
    content: "\21A1";
    /* utf-8 code voor pannenkoek symbool */
}
.cmda-dropdown-menu #cmda-dropdown-icon.close-icon {
    line-height: 1.25rem;
}
.cmda-dropdown-menu #cmda-dropdown-icon.close-icon::after {
    content: "\2A2F";
    /* utf-8 code voor kruis */
}

/* ****************************************
    DROPDOWN MENU
   **************************************** */

.cmda-dropdown-menu ul {
    max-height: 0;
    margin: .5em 0 0 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out;
}
.cmda-dropdown-menu .show {
    max-height: 32rem;
}
.cmda-dropdown-menu li {
    border-bottom: 1px dotted white;
}
.cmda-dropdown-menu li:last-of-type {
    border: none;
}
.cmda-dropdown-menu label {
    position: relative;
    display: block;
    padding: .75rem 2rem .75rem 1rem;
    line-height: 1.25rem;
    background-color: rgba(179, 179, 179, .92);
    color: black;
}
.cmda-dropdown-menu label:hover {
    background-color: rgba(128, 128, 128, .92);
    color: white;
}
.cmda-dropdown-menu label::after {
    content: "\203A";
    /* utf-8 code voor > teken */
    position: absolute;
    right: 1rem;
    top: 50%;
    font-size: 1.3rem;
    line-height: 2.75rem;
    color: black;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cmda-dropdown-menu label:hover::after {
    color: white;
}

/*****************    Nav         */

header > nav {
    display: inline-block;
    color: #003082;
    padding: 0;
    margin-right: 2%;
}
header > nav > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15%;
}
header > nav > ul > li {
    display: inline-block;
    margin-right: 5%;
}

/*****************    Main         */

main {
    margin: 0 auto 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*****************    Misc         */

input[type=search] {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0!important;
    line-height: 2.6em;
    padding: 0 1em 0 1rem;
    font-size: 1em;
}
input[type=submit] {
    -webkit-appearance: none;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    background-color: transparent;
    font-size: 1em!important;
}
input,
button,
submit,
select {
    border: none;
    background: none;
}
#background {
    display: block;
    z-index: 0;
}
#background > img {
    width: 100%;
}
#filter {
    display: block;
    position: relative;
    width: 97%;
    height: 16em;
    margin: -9em auto 0 auto;
    background: #ffc917;
    z-index: 1;
}
#searchbtn {
    display: block;
    width: 95%;
    margin: 0 auto;
    background-color: #0079d3;
    color: #fff;
    height: 2em;
    box-shadow: 0 -.125em 0 #005ca0 inset;
}
a {
    color: rgb(0, 48, 130);
}
p {
    color: black;
    font-size: 1em;
    margin-bottom: 1em;
    padding: .5em 1.2em;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tile {
    box-shadow: 0 2px 0 0 rgba(7, 7, 33, .15);
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
#logo {
    margin-left: 1.5%;
    margin-top: 1.1%;
    width: 60px;
    height: 22px;
}
.tile > .pic {
    width: 100%;
    overflow: hidden;
}
.tile > .pic > img {
    width: 100%;
}

/*****************    Buttons         */

#search {
    width: 95%;
    display: block;
    margin: .5em auto 1em auto;
    background-color: white;
    padding: .2em 1em 0 1em;
    font-size: 1em;
    height: 4em
}
xlabel {
    margin-right: .9em;
    height: 1em;
    border-bottom: 1px solid #003082;
    color: rgba(7, 7, 33, .6);
}
label:hover {
    color: #003082;
}
#tags {
    display: block;
    width: 95%;
    margin: 1em auto 1em auto;
    text-align: center;
    font-size: 1em;
}
button {
    font-size: 1em;
    outline: none;
}
#filter > button {
    display: block;
    width: 95%;
    margin: 0 auto;
    color: #fff;
    height: 2em;
    box-shadow: 0 -.12em 0 #cfa317 inset;
    background-color: #e6b517;
    margin-bottom: .5em;
    color: black;
}
.int {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
}
.int > button:nth-of-type(1),
button:nth-of-type(2) {
    background-color: #ffc917;
    color: white;
    box-shadow: 0 -.1em 0 rgba(7, 7, 33, .1) inset;
}
button:nth-of-type(2):hover {
    color: pink;
}
.int > button:nth-of-type(3) {
    background-color: #0079d3;
    box-shadow: 0 -.1em 0 #005ca0 inset;
    color: white;
}
h1 {
    font-size: 2em;
    line-height: 40px;
    width: 100%;
}
h2 {
    font-size: 1.25rem;
    line-height: 1.4em;
    margin: .2em 1em 0 1em;
    font-weight: 400;
}
#filter > h2 {
    width: 50%;
    font-weight: 500;
}
span > button {
    padding: .3em .7em;
}
input[type=checkbox] {
    border-bottom: 1px solid #b7b7b7;
    background-color: transparent!important;
    height: 1em;
    width: 1em;
    border-radius: 0!important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    background-color: transparent;
    font-size: 1em!important;
}
legend {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 1.25em;
}
#lspage {
    background-color: white;
    display: flex;
    padding: 0 1.3em;
    flex-direction: column;
    margin-top: 5em;
}
#signup {
    background-color: #ffc917;
    padding: 1em .7em 1em .7em;
    color: #003082;
    margin-bottom: 1.3em;
}
#login {
    padding: 1em .7em 1em .7em;
    margin-bottom: 1.3em;
    background-color: #ffc917;
}
fieldset {
    border: 0 none;
}
.btn {
    background-color: #0079d3;
    text-align: center;
    line-height: 1.5625rem;
    font-size: 1rem;
    width: auto;
    margin-left: 1em;
}
fieldset > input {
    height: 45px;
    border: none;
    padding: 11px 15px 9px 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}
legend {
    font-size: 1.25em;
    line-height: 25px;
    margin-bottom: 1.25em;
}
fieldset > label {
    border-bottom: none;
}
fieldset > label:hover {
    color: #003082;
}
fieldset > input {
    height: 45px;
    border: none;
    padding: 11px 15px 9px 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
}
#lspage > h1 {
    font-weight: normal;
    margin-top: .5em
}
.btn {
    background-color: #0079d3!important;
    color: #fff;
    box-shadow: 0 -.1em 0 #005ca0 inset;
    padding: .6em 1.1em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1rem;
    width: 100%;
    margin-left: 0;
}
section.int {
    display: flex;
    transition: all 2s;
}
section h1 {
    margin-bottom: 0;
    line-height: 1;
}
article > section > button {
    padding: .1em .2em;
    margin-top: 1em;
    align-self: center;
    font-size: 1em;
    line-height: 1;
    border: 0;
    color: #fff;
    width: 100px;
    height: 4em!important;
    transition: all 1s;
}
button > img {
    width: 20px;
    height: 20px;
    transition: all 1s;
}
section.showing {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    background-color: pink;
}

/****************************/

article > button {
    display: inline-block;
    margin-left: 90%;
    font-size: 1em!important;
    line-height: 1.25em;
    transition: all 1s;
}
article > section {
    display: none;
    transition: all 1s;
}
article > section.show {
    box-sizing: border-box;
    display: block;
    width: 300px;
    font-size: 1em;
    background-color: #e6e6e9;
    margin: 0 auto .8em auto;
    padding: 1em 1em 0.5em 1em;
    box-shadow: 0 -.1rem 0 rgba(77, 77, 108, 0.1) inset;
    transition: all 1s;
}

/********************************************
/*****************    Mediaqueries         **
********************************************/

@media screen and (max-width: 42em) {
    main {
        width: 95%;
    }
    #filter {
        padding: .5em;
        top: 5em;
        z-index: 4;
        height: 17em;
    }
    #search {
        width: 95%;
        display: block;
        margin: .5em auto 1em auto;
        background-color: white;
        padding: .5em 1em .5em 1em;
        font-size: 1em;
        font-style: italic;
    }
    label {
        margin-right: .9em;
    }
    #tags {
        display: block;
        width: 95%;
        margin: 1em auto 1em auto;
        text-align: center;
    }
    #searchbtn {
        display: block;
        width: 95%;
        margin: 0 auto;
    }
    main {
        margin-top: 6em;
    }
    span > button {
        padding: .3em .7em;
    }
    .cmda-dropdown-menu label {
        width: 21.5em;
    }
    .cmda-dropdown-menu #cmda-dropdown-icon {
        margin-left: 90%;
    }
    /*****************    signup page         */
    section > #login {
        margin-top: 1em;
    }
    
    article > section.show {
        width: 90%;
        height:auto;
    }
}
@media screen and (min-width: 42em) {
    body {
        xbackground-color: pink;
    }
    main {
        margin-top: 1em;
        width: 98%;
    }
    .tile {
        background-color: #fff;
        margin-bottom: 1em;
        width: 48%;
    }
    #filter {
        padding-top: .5em;
        height: 13em;
    }
    legend {
        font-size: 1.4em
    }
    .btn {
        background-color: #0079d3!important;
        color: #fff;
        box-shadow: 0 -.1em 0 #005ca0 inset;
        padding: .6em 1.1em;
        text-align: center;
        line-height: 1.5em;
        font-size: 1rem;
        width: 100%;
        margin-left: 0;
    }
    /*****************    signup page         */
    #lspage {
        width: 80%
    }
    section > #login {
        margin-top: 1em;
    }
    #login {
        width: 100%
    }
    #logo {
        margin-top: 4px;
        ;
    }
}
@media screen and (min-width: 61em) {
    body {
        xbackground-color: aquamarine;
    }
    .cmda-dropdown-menu {
        display: inline-block;
        width: 45%;
        min-height: 1.75em;
        margin: 0 auto;
    }
    .cmda-dropdown-menu label {
        width: 39em;
    }
    .cmda-dropdown-menu #cmda-dropdown-icon {
        margin-left: 90%;
    }
    #background {
        height: 17em;
        overflow: hidden;
    }
    #filter {
        height: 12em;
        top: 2em;
    }
    #filter > h2 {
        width: 100%;
        margin-bottom: 1em
    }
    main {
        width: 90%;
        margin-top: 3em;
    }
    .tile {
        background-color: #fff;
        margin: 0 .5em 1em .5em;
        width: calc(33% - 1em);
    }
    .int > button {
        font-size: .9em
    }
    #search {
        width: 45%;
        display: inline-block;
        margin-left: 2em;
        height: 3em;
        margin-top: 0;
    }
    #tags {
        display: inline-block;
        width: 45%;
        margin-left: 2em;
    }
    #filter > button {
        display: inline-block;
        width: 12%;
        margin-left: 35%;
        margin-right: 2em;
    }
    #searchbtn {
        display: inline-block;
        width: 12%;
    }
    legend {
        font-size: 1.4em;
    }
    #lspage {
        width: 89%;
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        padding-right: 2em;
    }
    #lspage > section > form {
        display: inline;
        width: 45%;
        padding: 1em 1em 1em 1em;
        justify-content: space-between;
    }
    fieldset > input {
        width: 50%;
        margin: 0 auto;
    }
    .btn {
        width: 100%;
        margin-topt: 1em;
    }
    fieldset > label {
        display: inline-block;
        width: 42%;
    }
    fieldset > input {
        margin-bottom: 1em;
    }
    #signup {
        margin-top: 1em;
    }
    #login {
        height: 15em;
    }
    h1 {
        margin-left: .5em;
    }
}
@media screen and (min-width: 70em) {
    body {
        xbackground-color: gray;
    }
    main {
        width: 85%;
    }
    #filter {
        width: 85%;
    }
    #lspage {
        max-width: 80%;
    }
    legend {
        font-size: 1.4em
    }
}
